PORT=3001
CHANNEL_NAME=mychannel
CHAINCODE_NAME=attendance
MSP_ID=Org1MSP
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.org1.example.com
# Crypto path defaults to the relative path of the fabric-samples/test-network in the root
# CRYPTO_PATH=/absolute/path/to/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com
